[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
sqlalchemy = "*"
openpyxl = "*"
gunicorn = "*"
flask = "*"
pytest = "*"
marshmallow = "*"
flask-cors = "*"
"psycopg2-binary" = "*"
codecov = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.5"

[dev-packages]
