[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
openpyxl = "*"
gunicorn = "*"
"psycopg2" = "*"
flask = "*"

[requires]
python_version = "3.5"

[dev-packages]
